@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap");

body{display:flex;align-items:center;justify-content:space-around;min-height:100vh;
  font-family: "Signika Negative", sans-serif;}

h3 {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

.box {
  cursor: pointer;
  opacity: 0;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.green {
  background-color: green;
}
.purple {
  background-color: purple;
}
.orange {
  background-color: orange;
}
