body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.green {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background-color: greenyellow;
}

.red {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background-color: rgb(255, 103, 103);
}